<ion-header [translucent]="true">
  <div *ngIf="!loggedIn" text-center padding>Please Login!</div>
  <div *ngIf="loggedIn" text-center padding>Thanks for logging in! {{usersName}}</div>
  
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-button ion-button full (click)="authWithSpotify()" *ngIf="!loggedIn">Login To Spotify</ion-button>
    <ion-button ion-button full (click)="spotifyLogOut()" *ngIf="loggedIn">Log off</ion-button>

    <!-- <ion-button (click)="showLoader()" color="success" expand="block">Display loader</ion-button>

    <ion-button (click)="hideLoader()" color="danger" expand="block">Close loader</ion-button> -->
    <!-- <strong>Run</strong> -->
    <br>
    {{result | json}}
    <br><br>
    <p>Songs</p>
    {{lastsongs | json}}
  </div>
  
  <!-- <ion-list>
    <button ion-item *ngFor="let item of playlists">
      <ion-avatar item-start *ngIf="item.images.length > 0">
        <img [src]="item.images[0].url">
      </ion-avatar>
      {{ item.name }}
      <p>Tracks: {{ item.tracks.total }}</p>
    </button>
  </ion-list> -->
</ion-content>
